@page "/"

@using Blazored.Video
@using Blazored.Video.Support

<h1>Demo Video Control</h1>

<div>
    <BlazoredVideo
        class="w-100"
        controls="controls">
        <source src="video/video01.mp4" type="video/mp4" />
    </BlazoredVideo>
</div>
